h1 {
  color: blue;
  text-align:left;
}
h2 {
  color: green;
  font-style: italic;
  text-align:left;
}
p {
  font-family: sans-serif;
  text-align: left;
}
ul {
  line-height: 40px;
  text-align: left;
}

.important {
color: red;
}
.unimportant {
color: blue;
}
img {
  float: left;
}

.test-box {
border: 2px solid red;
padding: 26px;
margin: 20px;
background-color: yellow;
}
